<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Busqueda placard</title>
<link href="index/css/estilo.css" rel="stylesheet" type="text/css" />
<script src="index/js/validacion/lib/jquery.js"></script>
<script src="index/js/validacion/dist/jquery.validate.js"></script>
<link rel="stylesheet" type="text/css" href="index/bootstrap/css/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="index/bootstrap/css/bootstrap-responsive.css">

<script type="text/javascript">
$().ready(function(){

    $("#f_usuario").validate({
        rules: {
            usuario: {
                 required: true,
                 minlength: 3,
                 maxlength: 20,

            },
            contrasenia:{
                required: true,
                minlength: 3
            }
        },
        messages: {
            usuario: {
                required: "Campo obligatorio",
                minlength: "Longitud minima 3 carácteres",
                maxlength: "Longitud maxima 20 carácteres"
            },
            contrasenia : {
                required: "Campo obligatorio",
                minlength: "Longitud minima 3 carácteres"
                
            }
        }
     });
 });

</script>
<style>
        #commentForm {
            width: 500px;
        }
        #commentForm label {
            width: 250px;
        }
        #commentForm label.error, #commentForm input.submit {
            margin-left: 253px;
        }
        #signupForm {
            width: 670px;
        }
        #signupForm label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
        }
    </style>
</head>
<body><center>
<!--Incio de contenido de la pagina principal-->
<div class="etiquetaGenral">
<!--encabezado de la pagina que html5 trae header tendra su estilo que esta en css-->
  <header>
    <a href="../../index.html"  class="logo"><img src="index/imagenes/logotipo.png" width="150" height="120" alt=""/></a>
   
   <titulodelapagina>
	
    <div align="center">

	<h2> SISTEMA DE CONTROL DE STOCK </h2>
    
</div>
    </titulodelapagina>
    
   
    <login><center>
   <!--formulario de login que ya tiene el efecto-->  
	<form wicket:id="f_usuario" role="form" id="f_usuario" method="get" action="../../intranet/html/producto.html"  >	<fieldset>				<!-- agrupa en un cuadro tendra color pero eso esta en css-->
  			
        <!--los divido en contendor para poder manipular con css-->		
         <div>									
		  	 <label for="usuario">Usuario</label>
             <input wicket:id="usuario" name="usuario" type="text">
 		</div>
    <br>
 		<div>
 		 	<label for="contrasenia">Contrase&ntilde;a</label>
  			<input wicket:id="contrasenia" name="constrasenia" type="text"/>
		 </div>
	   		  <div>
                
                <p>
                <input wicket:id="Ingresar" type="submit" class="btn btn-info" value="Ingresar">                        
                
                </p>
                <p></p>
	   		  </div>
              <p></p>
  
</fieldset>

</form>	   

</center>
<!--termina el formulario-->	      
    </login>

  
         <p> <a href="../../extranet/catalogo.html">CATALOGO</a></p>
  </header>

</div>
<br/>
<br/>
<br>
<br>
<br>
<br>
	<center><iframe width="560" height="315" src="https://www.youtube.com/embed/B0v4nIiQdsw" frameborder="0" allowfullscreen></iframe></center>
	
	<!--tabla donde se van a mostrar las herramientas y los insumos-->
	<table border="7" style="margin: 0 auto">
		<form>
			<table border="7" style="margin: 0 auto">
				<tr>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/martillo.jpg"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/cinta_metrica.jpg"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/serrucho.jpg"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/destornillador.jpg"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/tijeras.jpg"width="180" height="180"></td>
				</tr>
				<tr>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/tabla_madera.jpg"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/clavos.jpg"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/soporte.png"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/tornillos.jpg"width="180" height="180"></td>
					<td><input type="checkbox"><img src="index/imagenes/imagenesInternet/perilla.jpg"width="180" height="180"></td>
				</tr>
			</table>
		</form>
	</table>
	<center>
		<div>
			<table border="7" bordercolor="green">
				<tr>
					<td><button><img src="index/imagenes/imagenesInternet/confirmar.jpg" width="200" alt="Confirmar"></button></td>
				</tr>
			
			</table>
		</div>
	</center>
<footer>
		<p>DERECHOS RESERVADOS UDC 2016</p>
	</footer>
</center></body>
</html>
